img{
    float: left;
}
body{
    color: #FFF;
    font-family: Guttman-CourMir, sans-serif;
}
h2{
    color: rgb(145, 0, 31);
}
h1{
    color: rgb(247, 66, 0);
}

#myPic{
    position:fixed;
    top:0px;
    left:0px;
    height:100%;
    width:100%;
    z-index:-999;
    opacity:80%;
}
#roshem{
    border: 7px solid white;
    
}
table{
    border-collapse: collapse;

}
table th{
    text-align: right;
    background-color: rgb(11, 228, 109);
    color: darkgreen;
    padding:4px;
}
table td{
    padding:4px ;
    border: 2px solid black;
}
a{
   
    font-size: 20px;
}